.u-section-1 .u-sheet-1 {
  min-height: 766px;
}

.u-section-1 .u-image-1 {
  width: 278px;
  height: 243px;
  margin: 13px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -236px 0 0 298px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 298px;
}

.u-section-1 .u-text-3 {
  margin: -470px 862px 268px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -269px;
    margin-left: 198px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 46px;
    margin-left: 198px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -515px;
    margin-right: 662px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -544px;
    margin-right: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: -87px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -136px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -525px;
    margin-right: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: -67px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -156px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -986px;
    margin-right: 62px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 823px;
}

.u-section-2 .u-image-1 {
  width: 278px;
  height: 243px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -243px 0 0 298px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 298px;
}

.u-section-2 .u-text-3 {
  margin: -520px 862px 318px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-top: 47px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -270px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 47px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 662px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-right: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    margin-right: 62px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 714px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0 301px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 278px;
  height: 243px;
  margin: -106px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -117px 0 0 298px;
}

.u-section-3 .u-text-3 {
  margin: -410px 862px 266px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -116px;
    margin-left: 198px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -497px;
    margin-right: 662px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    margin-right: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-3 {
    margin-right: 62px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 447px;
}

.u-section-4 .u-image-1 {
  width: 278px;
  height: 243px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: -243px 0 0 301px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 19px 0 0 298px;
}

.u-section-4 .u-text-3 {
  margin: -59px 862px 0 0;
}

.u-section-4 .u-text-4 {
  margin: -65px 0 57px 298px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 201px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 98px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 662px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 98px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 442px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-3 {
    margin-right: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-3 {
    margin-right: 62px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 531px;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 0 298px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 278px;
  height: 243px;
  margin: -105px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: -117px 0 0 298px;
}

.u-section-5 .u-text-3 {
  margin: -180px 862px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 114px 0 20px 298px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 198px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 198px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 662px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 442px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-3 {
    margin-right: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-3 {
    margin-right: 62px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 138px;
}

.u-section-6 .u-text-1 {
  margin: 1px 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-2 {
  margin: 0 0 3px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 136px;
}

.u-section-7 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-2 {
  margin: 0 0 1px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-8 .u-sheet-1 {
  min-height: 138px;
}

.u-section-8 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-2 {
  margin: 0 0 3px;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-9 .u-sheet-1 {
  min-height: 137px;
}

.u-section-9 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-text-2 {
  margin: 0 20px 2px 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 137px;
}

.u-section-10 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-text-2 {
  margin: 0 0 2px;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}