.u-section-1 .u-sheet-1 {
  min-height: 138px;
}

.u-section-1 .u-text-1 {
  margin: 1px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 0 0 3px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 138px;
}

.u-section-2 .u-text-1 {
  margin: 1px 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 0 0 3px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 136px;
}

.u-section-3 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-2 {
  margin: 0 0 1px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-4 .u-sheet-1 {
  min-height: 138px;
}

.u-section-4 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 0 0 3px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-5 .u-sheet-1 {
  min-height: 136px;
}

.u-section-5 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-2 {
  margin: 0 0 1px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-6 .u-sheet-1 {
  min-height: 137px;
}

.u-section-6 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-2 {
  margin: 0 0 2px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-7 .u-sheet-1 {
  min-height: 137px;
}

.u-section-7 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-2 {
  margin: 0 20px 2px 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 190px;
}

.u-section-8 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-2 {
  margin: 0 20px 2px 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-right: 0;
  }
}