.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-image-1 {
  width: 278px;
  height: 243px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -243px 0 0 298px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 298px;
}

.u-section-1 .u-text-3 {
  margin: -515px 862px 334px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 662px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-right: 262px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 62px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 877px;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0 298px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 278px;
  height: 243px;
  margin: -211px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -12px 0 0 298px;
}

.u-section-2 .u-text-3 {
  margin: -574px 862px 392px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 111px;
    margin-left: 198px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -126px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 26px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -640px;
    margin-right: 662px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 140px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -2px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 169px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 102px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -773px;
    margin-right: 262px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 630px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -379px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -753px;
    margin-right: 62px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 714px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0 301px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 278px;
  height: 243px;
  margin: -106px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -117px 0 0 298px;
}

.u-section-3 .u-text-3 {
  margin: -410px 862px 61px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -116px;
    margin-left: 198px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -497px;
    margin-right: 662px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    margin-right: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-3 {
    margin-right: 62px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 211px;
}

.u-section-4 .u-text-1 {
  margin: 74px 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 0 0 3px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 83px;
}

.u-section-5 .u-text-1 {
  margin: 1px 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-2 {
  margin: 0 0 1px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 138px;
}

.u-section-6 .u-text-1 {
  margin: 1px 20px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-2 {
  margin: 0 0 3px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 136px;
}

.u-section-7 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-2 {
  margin: 0 0 1px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-8 .u-sheet-1 {
  min-height: 138px;
}

.u-section-8 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-2 {
  margin: 0 0 3px;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-9 .u-sheet-1 {
  min-height: 137px;
}

.u-section-9 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-text-2 {
  margin: 0 20px 2px 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 137px;
}

.u-section-10 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-text-2 {
  margin: 0 0 2px;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}